<div class="row">
  <div class="col-md-6 offset-3">
    <h1>
      <%=@user.username%>
    </h1>

    <%if @user != current_user%>
      <%if @user.fans.include?(current_user)%>
        <%if @user.private == false%>
          <button class="btn btn-primary">Follow</button>
        <%else%>
          <button class="btn btn-primary">Send Follow Request</button>
        <%end%>
      <%else%>
        <button class="btn btn-primary">Un-Follow</button>

      <%end%>
    <%end%>
    <div class="mb-4 d-flex justify-content-between">
      <div>
        <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#user_<%=@user.id%>_followers" href="#">
          <span class="font-weight-bold">
            <%=@user.followers.count%>
          </span>
          followers
        </a>
      </div>

      <div>
        <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#user_<%=@user.id%>_following" href="#">
          <span class="font-weight-bold">
            <%=@user.leaders.count%>
          </span>
          following
        </a>     
      </div>

      <div>
        <a class="link-underline link-underline-opacity-0 link-underline-opacity-100-hover" data-bs-toggle="modal" data-bs-target="#user_<%=@user.id%>_pending" href="#">
          <span class="font-weight-bold">
            <%=@user.pending_leaders.count%>
          </span>
          pending
        </a>
      </div>
    </div>

    <ul class="nav nav-pills nav-justified">
      <li class="nav-item">
        <%= link_to "Posts", user_path(@user.username), class: "nav-link"%>
      </li>
      <li class="nav-item">
        <%= link_to "Liked Posts", liked_path(@user.username), class: "nav-link"%>
      </li>
    </ul>
  </div>
</div>

<ul>
  <%@user.own_photos.each do |photo|%>
    <%=render "photos/photo", photo: photo%>
  <%end%>
</ul>

<%=render "followers", user: @user%>
<%=render "leaders", user: @user%>
<%=render "pendings", user: @user%>
